
.pinkText {
    color: rgb(231, 160, 172);
}

.deepPink {
    color: deeppink
}

.redText {
    color: rgb(255, 0, 0)
}

.yellowText {
    color: rgb(255, 255, 153); 
}

.greenText {
    color: rgb(158, 255, 158);
}

.blueText {
    color: lightskyblue
}

.dodgerBlue {
    color: dodgerblue
}

.purpleText {
    color: slateblue
}

.lightPurple {
    color: mediumslateblue
}

.grayText {
    color: rgb(151, 151, 151)
}

